#viewPort {
  width: 800px;
  height: 600px;
  border-style: solid;
  border-width: 1px;
}

#controllerContainer {
  float: none;
}

#controllerBox {
  border-style: solid;
  border-width: 1px;
  width: 120px;
}

#sensorContainer::after {
  width: 800px;
  content: "";
  clear: both;
  display: table;
}

#sensorBox {
  width: 16.67%;
  float: left;
  border-style: solid;
  border-width: 1px;
}

#videoContainer {
  border-style: solid;
  border-width: 1px;
  width: 640px;
  height: 480px;
  float: none;
}
